@model DevFeedbackAPI.Models.Developer

@{
    ViewData["Title"] = "Create";
}

<h2>Create New Developer</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="PasswordHash"></label>
        <input asp-for="PasswordHash" type="password" class="form-control" />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>

    <button type="submit">Create</button>
</form>


<a asp-action="Index">Back to List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
